
<!-- collegeModals.html -->
<!-- Add College Modal -->
<div id="myCollegeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Please Add New College</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="add-college-form" action="{{ url_for('colleges.add_college') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group mb-3">
                        <label>Code</label>
                        <input type="text" name="code" class="form-control" id="codeInput" placeholder="Enter Code">
                    </div>
                    <div class="form-group mb-3">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" id="nameInput" placeholder="Enter College Name">
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit College Modal -->
<div id="editCollegeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Update College Details</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCollegeForm" action="" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="id" id="editCollegeId" value="">
                    <div class="form-group mb-3">
                        <label>Code</label>
                        <input id="editCode" value="" type="text" name="code" class="form-control" placeholder="Edit Code">
                    </div>
                    <div class="form-group mb-3">
                        <label>College Name</label>
                        <input id="editName" value="" type="text" name="name" class="form-control" placeholder="Edit College Name">
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Update</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</div>
</tbody>
<!-- End of Edit College Modal -->
