<!DOCTYPE html>
<html>
  <head>

    <title>SSIS</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Header / Footer CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>

  <body>
    <!-- Header -->
    <div class="div-title bg-light">
      <h1 class="display-1">Student Information System</h1>
      <p>by <a href="https://github.com/NecroSynder">@Clarin</a></p>
    </div>


    {% block navbar %}{% endblock %}


    <!-- Footer -->
    <div
      class="div-footer d-lg-flex justify-content-around position-absolute bottom-0 start-50 translate-middle-x w-100 bg-light"
    >
      <p>
        <i class="fa fa-users"></i> contribute on github
        <a href="https://github.com/NecroSynder" target="_blank"
          >SSIS</a
        >
      </p>
      <p><i class="fa fa-balance-scale"></i> CCC151</p>
    </div>


  </body>

  <!-- SCRIPTS -->
  <!-- <script src="{{ url_for('static', filename='../static/js/add1.js') }}"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
