
<!-- colleges.html -->
{% block content %}
{% include "modals/collegeModals.html" %}

<!-- Static Body Content -->
<!-- COLLEGE -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <!-- content goes here -->
        <div class="col-sm-8">
            <h2>College List <button class="btn btn-primary float-end" data-toggle="modal"
                    data-target="#myCollegeModal">Add
                    College</button></h2>

            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>

            {%endfor%}
            {%endif%}
            {%endwith%}
            <div class="table-container">
                <table class="table table-hover college-table">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for college in colleges %}
                        <tr>
                            <td>{{ college[0] }}</td>
                            <td>{{ college[1] }}</td>
                            <td>
                                <div class="d-flex justify-content-start">
                                    <!-- Edit button with class 'btn-edit' -->
                                    <button type="button" class="btn btn-warning btn-sm btn-edit btn-spacing" data-toggle="modal"
                                        data-target="#editCollegeModal" data-id="{{ college[0] }}">Edit</button>
                                    <!-- Delete button -->
                                    <form class="delete-form" action="{{ url_for('colleges.delete_college', code=college[0]) }}" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit" class="btn btn-danger btn-sm" data-code="{{ college[0] }}">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>
</div>
<!-- END OF STUDENTS -->
<!-- Ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Add college form script -->
<script>
    $(".add-college-form").on('submit', function(e) {
        e.preventDefault();  // prevent form submission
        var form_data = $(this).serialize();  // serialize form data
        $.ajax({
            url: "/colleges/add",
            type: "POST",
            data: form_data,
            success: function(response) {
                if (response.success) {
                    $("#colleges-tab-pane").load("/colleges/");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                } else {
                    alert(response.message);  // display the warning message
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // handle error here
                console.error(textStatus, errorThrown);
            }
        }).done(function() {
            // This function will be called when the AJAX request finishes
            $('#codeInput').val('');
            $('#nameInput').val('');
        });
        $('#myCollegeModal').modal('hide');  // close the modal
    });    
</script>

<script>
    $(".delete-form").on('submit', function(e) {
        e.preventDefault();  // prevent form submission
        var code = $(this).find('button').data("code");  // get the college code
        var csrf_token = $(this).find('input[name="csrf_token"]').val();  // get the CSRF token
        $.ajax({
            url: "/colleges/delete/" + code,
            type: "POST",
            data: {
                csrf_token: csrf_token
            },
            success: function(response) {
                $("#colleges-tab-pane").load("/colleges/");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // handle error here
                console.error(textStatus, errorThrown);
            }
        });
    });
</script>

<script>
    $('.college-table').on('click', '.btn-edit', function() {
        var id = $(this).data('id');
        var action = "{{ url_for('colleges.edit_college', code='') }}" + id;
        $('#editCollegeForm').attr('action', action);
        $('#editCollegeId').val(id);
    
        $.ajax({
            url: "/colleges/edit/" + id,
            method: "GET",
            success: function(college) {
                $('#editCode').val(college.code);
                $('#editName').val(college.name);
                // Show the modal after the form fields have been populated
                $('#editCollegeModal').modal('show');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX request failed: ", textStatus, errorThrown);
            }
        });
    });

    $('#editCollegeForm').on('submit', function(e) {
        e.preventDefault();
        var formData = $(this).serialize();
        var id = $('#editCollegeId').val();
    
        $.ajax({
            url: "/colleges/edit/" + id,
            type: "POST",
            data: formData,
            success: function(response) {
                if (response.success) {
                    $("#colleges-tab-pane").load("/colleges/");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                } else {
                    alert(response.message);  // display the warning message
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX request failed: ", textStatus, errorThrown);
            }
        }).done(function() {
            // This function will be called when the AJAX request finishes
            $('#editCode').val('');
            $('#editName').val('');
        });
    });
</script>

{% endblock %}
