
<!-- courses.html -->
{% block content %}
{% include "modals/courseModals.html" %}

<!-- Static Body Content -->
<!-- Courses -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <!-- content goes here -->
        <div class="col-sm-8">
            <div class="d-flex justify-content-between align-items-center">
                <div><h2>Course List</h2></div>
                <div>
                    <form id="search-form" action="/courses/search" method="get">
                        <div class="input-group">
                            <input type="search" name="search_term" id="search-input" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <button type="submit" class="btn btn-outline-primary">search</button>
                        </div>
                    </form>                                        
                </div>
                <div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myCourseModal">Add Course</button>
                </div>
            </div>            
            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>

            {%endfor%}
            {%endif%}
            {%endwith%}
            <div id="courses-tab-pane">
                <table class="table table-hover courses-table">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">College Code</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td data-code="{{ course[0] }}">{{ course[0] }}</td>
                            <td data-name="{{ course[1] }}">{{ course[1] }}</td>
                            <td data-college_code="{{ course[2] }}">{{ course[2] }}</td>
                            <td>
                                <div class="d-flex justify-content-start">
                                    <!-- Edit button with class 'btn-edit' -->
                                    <button type="button" class="btn btn-warning btn-sm btn-edit btn-spacing" data-toggle="modal"
                                        data-target="#editCourseModal" data-code="{{ course[0] }}">Edit</button>
                                    <!-- Delete button -->
                                    <form class="delete-form" action="{{ url_for('courses.delete_course', code=course[0]) }}" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit" class="btn btn-danger btn-sm" data-code="{{ course[0] }}">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END OF STUDENTS -->

<!-- Scripts -->

<script>
    $('.courses-table').on('click', '.btn-edit', function() {
        var row = $(this).closest('tr');

        // Get the course data from the table cells
        var code = row.find('td:nth-child(1)').text();
        var name = row.find('td:nth-child(2)').text();
        var college_code = row.find('td:nth-child(3)').text();

        // Set the action for the form
        var formAction = "/courses/edit/" + code;
        $('#editCourseForm').attr('action', formAction);

        // Populate the form fields with the course data
        $('#editCourseCode').val(code);
        $('#editCourseName').val(name);
        $('#editCollegeCode').val(college_code);
        
        // Show the modal after the form fields have been populated
        $('#editCourseModal').modal('show');
    });

    $("#editCourseForm").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                    $("#courses-tab-pane").load("/courses/");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                } else {
                    alert(response.message);
                }
            }
        });
    });

    $('#editCourseModal').on('hidden.bs.modal', function (e) {
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    });
</script>

<script>
    $("#addCourseForm").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                    $("#courses-tab-pane").load("/courses/");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                } else {
                    alert(response.message);
                }
            }
        });
    });
</script>

<script>
    function updateCoursesTable() {
        $.get('/courses/', function(data) {
            // Replace the current table with the updated one
            $('#coursesTable').replaceWith($(data).find('#coursesTable'));
        });
    }
</script>

<script>
    $(".delete-form").on('submit', function(e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: form.serialize(),
            success: function(response) {
                if (response.success) {
                    $("#courses-tab-pane").load("/courses/");
                } else {
                    alert(response.message);
                }
            }
        });
    });
</script>

<script>
    $("#search-form").on('submit', function(e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: 'GET',
            data: form.serialize(),
            success: function(response) {
                // Clear the existing table
                $('.courses-table tbody').empty();
                
                // Add the search results to the table
                for (var i = 0; i < response.length; i++) {
                    var course = response[i];
                    var row = '<tr><td>' + course[0] + '</td><td>' + course[1] + '</td><td>' + course[2] + '</td>';
                
                    // Add the action buttons to the row
                    row += '<td><div class="d-flex justify-content-start"><button type="button" class="btn btn-warning btn-sm btn-edit btn-spacing" data-toggle="modal" data-target="#editCourseModal" data-code="' + course[0] + '">Edit</button>';
                    row += '<form class="delete-form" action="/courses/delete/' + course[0] + '" method="POST"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><button type="submit" class="btn btn-danger btn-sm" data-code="' + course[0] + '">Delete</button></form></div></td></tr>';
                    
                    $('.courses-table tbody').append(row);
                }                
            }
        });
    });    
</script>

{% endblock %}