
<!-- navigation.html -->
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="students-tab" data-bs-toggle="tab" data-bs-target="#students-tab-pane" type="button" role="tab" aria-controls="students-tab-pane" aria-selected="true">Students</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses-tab-pane" type="button" role="tab" aria-controls="courses-tab-pane" aria-selected="false">Courses</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="colleges-tab" data-bs-toggle="tab" data-bs-target="#colleges-tab-pane" type="button" role="tab" aria-controls="colleges-tab-pane" aria-selected="false">Colleges</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="students-tab-pane" role="tabpanel" aria-labelledby="students-tab">
    </div>
    <div class="tab-pane fade" id="courses-tab-pane" role="tabpanel" aria-labelledby="courses-tab">
    </div>
    <div class="tab-pane fade" id="colleges-tab-pane" role="tabpanel" aria-labelledby="colleges-tab">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
// Save the active tab to a local storage when its button is clicked
$(".nav-link").on('click', function() {
    var tabId = $(this).attr('id');
    localStorage.setItem("activeTab", tabId);
    
    // Load the corresponding tab pane
    var tabPaneId = $(this).data('bs-target');
    $(tabPaneId).load("/" + tabId.replace('-tab', '') + "/");
});

// When the page loads, check if the local storage item is there and read it back
$(document).ready(function() {
    var activeTab = localStorage.getItem("activeTab");
    // If there is an active tab saved in the local storage, select it
    if (activeTab) {
        // Trigger a click event on the active tab when the page loads
        $("#" + activeTab).trigger('click');
    } else {
        // Trigger a click event on the students tab when the page loads
        $("#students-tab").trigger('click');
    }
});
</script>


